h1 {
    text-align: center;
    font-size: 54px;
}

h2 {
    margin-bottom: 1vw;
}

.goal-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.goal {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0 20vw 5vw;
    align-items: center;
}

.goal:first-child {
    margin-top: 0;
}

.goal-text {
    margin-top: 0;
}

.goal-img-container {
    width: 100%;
    height: auto;
}

.goal-img {
    width: 100%;
    height: auto;
}

@media screen and (min-width: 768px) {
    .goal-img {
        width: 50%;
        height: auto;
    }
} 